.home-page {
    font-family: Arial, sans-serif;
    max-width: 800px;
    margin: 0 auto;
    padding: 1em;
  }

  body {
    background-image: url('https://getwallpapers.com/wallpaper/full/e/a/3/1375146-wizard101-wallpaper-3840x2160-iphone.jpg');
    background-size: cover;
    color: rgb(35, 35, 44);
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
    background-repeat: no-repeat;
    background-attachment: fixed; /* This will make the background image fixed when scrolling */
    margin: 0;
    padding: 0;
    height: 100vh; /* This will make the body element cover the entire height of the viewport */
  }
  
  .home-page h2 {
    margin-top: 0;
    font-size: 2.5em; /* Adjust this value to make the title bigger or smaller */
    color: rgb(247, 28, 247);
  }
  
  .sort-section {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 0.5em;
  }
  
  .sort-select {
    margin-left: 10px;
  }